## Arumakan's ignore list
deno.lock
tmp
.nvim

## Original
node_modules/
.DS_Store
.idea
dist
*.log
*.local
.playgroundcache

## playground
playground/00-warm/*
playground/01-easy/*
playground/02-medium/*
playground/03-hard/*
playground/04-extreme/*

# Solved list

## 00-warm
!playground/00-warm/00013-warm-hello-world.ts
!playground/01-easy/00004-easy-pick.ts
